<!DOCTYPE html>
<html>
    <head>
        <title>{{base_title}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}"/>
    </head>
    <body>
        <nav>
            <ul id="user-account">
                <li><a class='link' href="/login">Login</a></li>
                <li><a class='link' href="/logout">Logout</a></li>
            </ul>
            <ul>
                <li><a class='link' href="/">Home</a></li>
                <li><a class='link' href="/blog">Posts</a></li>
                <li><a class='link' href="/newpost">New_Post</a></li>
            </ul>
        </nav>
        <main>
        {% block content %} 
        {% endblock %}
        </main>

        <footer>
            <p>Zico</p>
        </footer>
    </body>
</html>