{% extends "base.html" %}
{% block content %}
    <div class="container">
        <!-- <div class="row"> -->
            <!-- <div class="col-2"></div> -->
            <!-- <div class="col"> -->
                <h1>Sign In</h1>
                <form action="/login" methods="post">
                    
                    
                    <input type="text" class="form-control" name="user_name" placeholder="User Name" value="{{ user_name }}">
                    {% if user_error %}
                        <span class="badge badge-danger"> {{ user_error }} </span>
                    {% endif %}
                    <br>
                    
                    <input type="password" class="form-control" name="password" placeholder="Password" value="{{ password }}">
                    {% if password_error %}
                        <span class="badge badge-danger"> {{ password_error }} </span>
                    {% endif %}
                    <br>
                    
                    
                    <input type="submit" class="btn btn-primary" value="Login">
                </form>
                <br>
                <h4>
                    Don't have an account? 
                    <a href="/signup">Create one</a>
                </h4>

            <!-- </div> -->
            <!-- <div class="col-2"></div> -->
        <!-- </div> -->
    </div>
{% endblock %}