{% extends "base.html" %}

{% block content %}
<a href = "/blog">Main blog page</a> 
<br>
<h1 align = "center"> Add a new entry</h1>
<br>
<br>
<br>

<form method="post" action ='/add'>
    <label> Title of post:
        <input type='text' name='newpost'>
    </label>
    <p class="error">{{newpost_error}}</p>
    <br>
    <br>
    <br>
    <br>
    
    
    <label>Blog content:
            <br>
            <br>
            
    <textarea name='body' style="width: 350px; height: 175px;"></textarea> 
    </label>
    <p class="error">{{body_error}}</p>
    <br>

 <input type='submit' value='Add new Post'>

</form>

{% endblock %}