{% extends "base.html" %}

{% block content %}
    <h1>new post</h1>


<form action='/newpost' method='POST'>

<label>title<br><input type=text name="title"/></label>
{% with messages= get_flashed_messages(with_categories=True,category_filter=["error1"]) %}
    {% for category,message in messages%}

<li class= "{{category}}" >{{title}}</li>
 {% if category == "title" %} 
<span>{{message}}</span>
 <!-- {% endif %}  -->
{% endfor %}
 <!-- {% endwith %}  -->
<br><br>

<label>post<br><textarea name="post"></textarea></label>
{% with messages= get_flashed_messages(with_categories=True,category_filter=["error2"]) %}
  {% for category,message in messages%} 
 <li class= "{{category}}">{{blogbody}}</li>
<!-- {% if category == "blogbody" %} -->
 <span>{{message}}</span> 
 <!-- {% endif %} -->
{% endfor %}
 {% endwith %} 
<br><br>
<input type="submit" value="Submit Query"/>
</form>
{% endblock %}